.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.content_select {
  max-width: 100px;
}
